<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#1a3d5c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signal Cartel's Little Helper</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='tablestyle.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='datastyle.css')}}"/>
    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/fh-3.1.3/rg-1.0.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/fh-3.1.3/rg-1.0.2/datatables.min.js"></script>
  </head>
  <body style="background-color: #1a3d5c;">
    <div class="container">
      <H1 style="text-align: center; color: White; background-color: #1a3d5c;padding: 10px;">Signal Cartel's Little Helper</H1>
      <table id="chars" class="compact stripe order-column hover">
        <thead>
          <tr class="header">
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Danger Level</th>
            <th>Gang %</th>
            <th>Security</th>
            <th>Kills</th>
            <th>Losses</th>
            <th class="nothumb"></th>
            <th>Corp</th>
            <th>Alliance</th>
            <th>Last Activity</th>
            <th>Time in Corp</th>
            <th>Corp ID</th>
            <th>Corp Danger</th>
            <th>NPC Corp</th>
          </tr>
        </thead>
        <tfoot>
          <tr class="header">
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Danger Level</th>
            <th>Gang %</th>
            <th>Security</th>
            <th>Kills</th>
            <th>Losses</th>
            <th></th>
            <th>Corp</th>
            <th>Alliance</th>
            <th>Last Activity</th>
            <th>Time in Corp</th>
            <th>Corp ID</th>
            <th>Corp Danger</th>
            <th>NPC Corp</th>
          </tr>
        </tfoot>
        <tbody>
        </tbody>
      </table> 
      <form action="{{ url_for('local') }}" method="POST">
        <textarea id="name-list" name="characters" placeholder="Enter Character Names (maximum {{ max_chars }})" rows=10 cols=35></textarea>
        <p><input type="Submit" value="Submit" maxlength="1000"/>
          <input type="reset" /></p>
      </form>
      <form style="color:White;">
        <input type="checkbox" onclick="toggleCorpGrouping()" class="group-button" value="group"> Group by Corporation<br>
        <input type="checkbox" onclick="testSending()" class="group-button" value="group"> Send Data<br>
      </form>
    </div>
    <script type="text/javascript">
      "use strict";
      var char_data = [ 
      {% for char in charlist %}
        { "name": "{{ char.name }}",
          "thumb": "",
          "has_killboard": {% if char.has_killboard %}true{% else %}false{% endif %},
          "age": "{{ char.age }}",
          "danger": {{ char.danger }},
          "gang": {{ char.gang }},
          "security": {{ char.security }},
          "kills": {{ char.kills }},
          "losses": {{ char.losses }},
          "corp_name": "{{ char.corp_name }}",
          "corp_thumb": "",
          "alliance_name": "{{ char.alliance_name }}",
          "last_kill": "{{ char.last_kill }}", 
          "corp_age": "{{ char.corp_age }}",
          "corp_id": {{ char.corp_id }},
          "corp_danger": {{ char.corp_danger }},
          "is_npc_corp": {% if char.is_npc_corp %}true{% else %}false{% endif %},
          "character_id": {{ char.character_id }},
          "recent_explorer_total": {{ char.recent_explorer_total }},
          "recent_kill_total": {{ char.recent_kill_total }},
          "last_kill_time": "{{ char.last_kill_time }}",
          "kills_last_week": {{ char.kills_last_week }} }, 
      {% endfor %}]
      var table;
      var dataFormatting = (function () {
        return {
          char_name: function ( data, type, row ) {
            if ( row.has_killboard ) {
              return '<a href="https://zkillboard.com/character/{0}/" target="_blank" rel="noopener">{1}</a>'.format( row.character_id, row.name );
            } else {
              return data;
            }
          },
          corp_name: function ( data, type, row ) {
            return '<a href="https://zkillboard.com/corporation/{0}/" target="_blank" rel="noopener">{1}</a>'.format( row.corp_id, row.corp_name );
          },
          char_thumb: function ( data, type, row ) {
            var img = '<img src="https://image.eveonline.com/Character/{0}_64.jpg" height="32" width="32" alt="{1} thumbnail" align="middle">'.format( row.character_id, row.name );
            var span = '<span><img src="https://image.eveonline.com/Character/{0}_512.jpg" alt="{1} portrait"></span>'.format( row.character_id, row.name );
            return img + span;
          },
          corp_thumb: function ( data, type, row ) {
            return '<img src="https://imageserver.eveonline.com/Corporation/{0}_64.png" height="32" width="32" alt="{1} thumbnail" title="Corporation Danger Level: {2}" align="middle">'.format( row.corp_id, row.corp_name, row.corp_danger );
          },
          corp_age: function ( data, type, row ) {
            return data + ' days';
          },
          row_group: function ( rows, corp_name ) {
            var first_row = rows.data()[0]
            var alliance = first_row.alliance_name;
            var corp_id = first_row.corp_id;
            var corp_danger = first_row.corp_danger;
            var npc_corp = first_row.is_npc_corp;
            return groupRow( corp_name, alliance, corp_id, corp_danger, npc_corp );
          },
          postProcess: function( row, data, dataIndex ) {
            if ( data.danger > 50) {
              $('td:eq(1)', row).addClass( 'danger_thumb' );
              $('td:eq(4)', row).addClass( 'danger' );
            } else {
              $('td:eq(1)', row).addClass( 'thumb' );
            }
            if ( data.security < 0 ) {
              $('td:eq(6)', row).addClass( 'danger' );
            }
            if ( data.corp_danger > 50 ) {
              $('td:eq(9)', row).addClass( 'danger_thumb' );
            } else if ( data.is_npc_corp ) {
              $('td:eq(9)', row).addClass( 'safe_thumb' );
            } else {
              $('td:eq(9)', row).addClass( 'blank_thumb' );
            }
            if ( data.kills == 0 ) {
              $('td:eq(0)', row).addClass( 'blank-control' );
            } else {
              $('td:eq(0)', row).addClass( 'details-control' );
            }
          }
        }
      })();
      String.prototype.format = function () {
          var args = arguments;
          return this.replace(/\{(\d+)\}/g, function (m, n) { return args[n]; });
      }
      function testSending() {
        var names = document.getElementById( 'name-list' ).value;
        $.post("info",
               { characters: names },
               function( data, status ) {
                 alert( 'data ' + data.length )
                 table.clear();
                 table.rows.add( data );
                 table.draw();
               });
      }
      function groupRow( group, alliance_name, corp_id, corp_danger, npc_corp ) {
          var img = '<td class="blank_thumb"><img src="https://imageserver.eveonline.com/Corporation/{0}_64.png" height="32" width="32"></td>'.format( corp_id );
          var corp_class = "";
          if ( corp_danger > 50 ) {
            corp_class = 'class="danger"';
          } else if ( npc_corp ) {
            corp_class = 'class="safe"';
          }
          var alliance = "";
          if ( alliance_name != "" ) {
            alliance = '  ({0})'.format( alliance_name );
          }
          var name = '<td {0}>{1}{2}</td>'.format( corp_class, group, alliance );
          return img + name;
      }
      function toggleCorpGrouping() {
          var group = document.querySelector('.group-button').checked;
          if ( group ) {
            table.column( 10 ).order( 'asc' );
            table.rowGroup().enable();
          } else {
            table.column( 2 ).order( 'asc' );
            table.rowGroup().disable();
          }
          table.column( 'corp_thumb' ).visible( !group, false );
          table.column( 'corp_name' ).visible( !group, false );
          table.column( 'alliance_name' ).visible( !group, false );
          table.draw();
      }
      function formatKills ( d ) {
        // `d` is the original data object for the row
        if ( d.kills == 0 ) {
          return ''
        } else {
          return '<table class="embedded"><thead><tr><td>Explorers Killed</td><td>Total Killed</td><td class="dt-body-center">Since</td><td>Kills in Last Week</td></tr></thead>' +
               '<tr><td class="dt-body-center">' + d.recent_explorer_total + '</td>' +
               '<td class="dt-body-center">' + d.recent_kill_total + '</td>' +
               '<td class="dt-body-center">' + d.last_kill_time + '</td>' +
               '<td class="dt-body-center">' + d.kills_last_week + '</td>' +
               '</tr></table>';
        }
      }

      $(document).ready( function () {
        table = $( '#chars' ).DataTable( {
          order: [ [ 10, 'asc' ], [ 2, 'asc' ] ],
          data: char_data,
          deferRender: true,
          createdRow: dataFormatting.postProcess,
          columns: [
            { data: null, orderable: false, defaultContent: '' },
            { data: 'thumb', render: dataFormatting.char_thumb, orderable: false },
            { data: 'name', render: dataFormatting.char_name },
            { data: 'age', orderable: false },
            { data: 'danger', className: 'dt-body-center' },
            { data: 'gang', className: 'dt-body-center' },
            { data: 'security', className: 'dt-body-center', render: $.fn.dataTable.render.number( ',', '.', 2 ) },
            { data: 'kills', className: 'dt-body-center' },
            { data: 'losses', className: 'dt-body-center' },
            { data: 'corp_thumb', render: dataFormatting.corp_thumb, orderable: false },
            { data: 'corp_name', render: dataFormatting.corp_name },
            { data: 'alliance_name' },
            { data: 'last_kill', orderable: false },
            { data: 'corp_age', render: dataFormatting.corp_age, orderable: false },
            { data: 'corp_id', visible: false },
            { data: 'corp_danger', visible: false },
            { data: 'is_npc_corp', visible: false },
            { data: 'character_id', visible: false },
          ],
          info: false,
          paging: true,
          rowGroup: {
            dataSrc: 'corp_name',
            enable: false,
            startRender: dataFormatting.row_group
          },
          searching: true,
          stateSave: true,
          autoWidth: false,
        });

        toggleCorpGrouping();

        $('#chars tbody').on('click', 'td.details-control', function () {
          var tr = $(this).parents('tr');
          var row = table.row( tr );

          if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
          } else {
            // Open this row (the format() function would return the data to be shown)
            if ( row.child() && row.child().length )
            {
              row.child.show();
            } else {
              row.child( formatKills( row.data() ) ).show();
            }
            tr.addClass('shown');
          }
        } );
      });
    </script>
  </body>
</html>
