<!doctype html>
<html>
  <head>
    <title>Signal Cartel's Little Helper</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"/> 
  </head>
  <body style="background-color: #337ab7;">
    <H1 style="text-align: center; color: White;">Signal Cartel's Little Helper</H1>
      <div class="container">
      <form action = "{{ url_for('local') }}" method = "POST">
        <p><textarea name="characters" placeholder="Enter Character Names (maximum {{ max_chars }})" rows=10 cols=40></textarea>
        <p><input type="Submit" value="Submit" maxlength="1000"/><input type="reset" /></p>
      </form>
      <table id="chars" class="chars">
          <thead>
              <tr class="header">
              <th></th>
              <th class="header_button" onclick="sortTable(1)">Name</th>
              <th>Age</th>
              <th class="header_button" onclick="sortTable(3)">Danger Level</th>
              <th class="header_button" onclick="sortTable(4)">Gang %</th>
              <th class="header_button" onclick="sortTable(5)">Security</th>
              <th class="header_button" onclick="sortTable(6)">Kills</th>
              <th class="header_button" onclick="sortTable(7)">Losses</th>
              <th></th>
              <th class="header_button" onclick="sortTable(9)">Corp</th>
              <th class="header_button" onclick="sortTable(10)">Alliance</th>
              <th>Last Activity</th>
              <th class="header_button" onclick="sortTable(12)">Time in Corp</th>
          </tr>
          </thead>
        <tfoot>
              <tr class="header">
              <th></th>
              <th class="header_button" onclick="sortTable(1)">Name</th>
              <th>Age</th>
              <th class="header_button" onclick="sortTable(3)">Danger Level</th>
              <th class="header_button" onclick="sortTable(4)">Gang %</th>
              <th class="header_button" onclick="sortTable(5)">Security</th>
              <th class="header_button" onclick="sortTable(6)">Kills</th>
              <th class="header_button" onclick="sortTable(7)">Losses</th>
              <th></th>
              <th class="header_button" onclick="sortTable(9)">Corp</th>
              <th class="header_button" onclick="sortTable(10)">Alliance</th>
              <th>Last Activity</th>
              <th class="header_button" onclick="sortTable(12)">Time in Corp</th>
          </tr>
          </tfoot>
    {% set ns = namespace(use_background=false) %}
    {% for corp in charlist|groupby('corp_name') %}
    {% for char in corp.list %}
    <tr class="{% if ns.use_background %}odd{% else %}even{% endif %}">
      <td class="{% if char.danger > 50 %}danger_{% endif %}thumb">
        <img src="https://image.eveonline.com/Character/{{ char.character_id }}_64.jpg" height="32" width="32">
        <span><img src="https://image.eveonline.com/Character/{{ char.character_id }}_512.jpg" alt=""></span>
      </td>
      <td>{% if char.has_killboard %}<a href="https://zkillboard.com/character/{{ char.character_id }}/" target="_blank">{{ char.name }}</a>{% else %}{{ char.name }} {% endif %}</td>
      <td>{{ char.age }}</td>
      <td class="{% if char.danger > 50 %}danger_alert{% else %}data{% endif %}">{% if char.danger > 0 %}{{ char.danger }}{% endif %}</td>  
      <td class="data">{% if char.gang > 0 %}{{ char.gang }}{% endif %}</td>
      <td class="{% if char.security < 0.0 %}danger_alert{% else %}data{% endif %}">{{ char.security }}</td>
      <td class="data">{{ char.kills }}</td>
      <td class="data">{{ char.losses }}</td>
      <td><img src="https://imageserver.eveonline.com/Corporation/{{ char.corp_id }}_64.png" height="32" width="32"></td>
      <td{% if char.corp_danger > 50 %} class="corp_alert"{% elif char.is_npc_corp %} class="npc_corp"{% endif %} title="Corporation Danger Level: {{ char.corp_danger }}"><a href="https://zkillboard.com/corporation/{{ char.corp_id }}/" target="_blank">{{ char.corp_name }}</a></td>
      <td>{{ char.alliance_name }}</td>
      <td>{{ char.last_kill }}</td>
      <td>{{ char.corp_age }} days</td>
    </tr>
    {% endfor %}
    {% set ns.use_background = not ns.use_background %}
    {% endfor %}
      </table> 
    </div>
<script>
    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("chars");
        switching = true;
        dir = "asc"; 
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");
            for (i = 2; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                var value1 = x.innerText;
                var value2 = y.innerText;
                if (dir == "asc") {
                    if (isNumeric(value1) && isNumeric(value2)) {
                        if (Number(value1) > Number(value2)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (value1.toLowerCase() > value2.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else if (dir == "desc") {
                    if (isNumeric(value1) && isNumeric(value2)) {
                        if (Number(value1) < Number(value2)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (value1.toLowerCase() < value2.toLowerCase()) {
                            shouldSwitch= true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;      
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
  </body>
</html>
